<%layout('layouts/boilerplate')%>

<%if(user.length==0){%>
    <div class="text-center">
        <img src="https://svgur.com/i/AXk.svg" class="rounded" alt="..." style="width: 400px; height: 400px">
      </div>
<%}%>
<%if(user.length!=0){%>
  <%for(let k=0;k<user.length;k++){%>
    <div class="card" style="width: 18rem; margin-left: 5%; display: inline-flex;">
      <%if(user[k].image.length!=0){%>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <%for(let j=0;j<user[k].image.length;j++){%>
              <div class="carousel-item active">
                <img src="<%=user[k].image[0].url%>" class="d-block w-100" alt="..." style="width: 300px; height: 300px">
              </div>
            <%}%>
          </div>
         
        </div>
      <%}%>
      <form class="d-inline" action="/todo/<%=user[k]._id%>/image" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button>+</button>
      </form>
      <div class="card-body">
        <h5 class="card-title"><%=user[k].fname%></h5>
      </div>
      <ul class="list-group list-group-flush">
        <%if(user[k].work.length!=0){%>
          <%for(let i=0;i<user[k].work.length;i++){%>
            <li class="list-group-item">
              <form action="/todo/<%=user[k]._id%>/<%=i%>/work?_method=delete" method="post">
                <%=user[k].work[i]%>
                <button class="btn btn-danger">x</button>
              </form>
            </li>
          <%}%>

        <%}%>
      </ul>
      <%if(currentUser && user[k].author.equals(currentUser._id)){%>
      <div class="card-body">
        <form class="d-inline" action="/todo/<%=user[k]._id%>" method="post">
          <input type="text" name="work">
          <button class="btn btn-success">ADD</button>
        </form>
        <a href="/todo/<%=user[k]._id%>/show" class="btn btn-warning">VIEW</a>
        <a href="/todo/<%=user[k]._id%>/edit" class="btn btn-info">Edit</a>
        <form class="d-inline" action="/todo/<%=user[k]._id%>?_method=delete" method="post">
          <button class="btn btn-danger">Delete</button>
      </form>
      </div>
      <%}%>
    </div>
  <%}%>
  <%}%>